<main class="contents">
  <div class="show">

    <p class="midashi2"><%= @works.title %></p>
    <p class="line2"></p>
    <div class= "show_contens">
    <%=simple_format(h(@works.detail), {}, sanitize: false, wrapper_tag: "div") %>
    </div>
    <div class="show_img">
    <% if @works.images.attached? %>
  <% @works.images.each do |image| %>
    <%= image_tag image.variant(resize:'800x600') %> <br>
  <% end %>
    </div>
<% end %>
  </div>
      
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
  <!--<script src="/assets/slick.min.js"></script>-->
  <!--<script type="text/javascript">-->
  <!--$(function(){-->
  <!--    $('.slick1').slick({-->
  <!--    });-->
  <!--});-->
  </script>
</main>