<main class="contents">
  <p class="midashi2">作品</p>
  
  <div class="show">

    <p><%= @works.title %></p>
    <p><%= @works.detail %></p>
    <div class="show_img">
    <% if @works.images.attached? %>
  <% @works.images.each do |image| %>
    <%= image_tag image.variant(resize:'800x600') %> <br>
  <% end %>
    </div>
<% end %>
  </div>
      
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
  <!--<script src="/assets/slick.min.js"></script>-->
  <!--<script type="text/javascript">-->
  <!--$(function(){-->
  <!--    $('.slick1').slick({-->
  <!--    });-->
  <!--});-->
  </script>
</main>